:root{
    --non-metal-color: #f4cf72;
    --s-block: #fca671;
    --p-block: #bdafd3;
    --d-block: #a5c8df; 
    --f-block: #bde5a3;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jura', sans-serif;
}
header{
    border: solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    font-size: larger;
    height: 50px;
    width: 100%;
    padding: 0 10px;
    font-weight: 600;
}
.title{
    text-decoration: underline transparent;
    transition: text-decoration 500ms ease-in;
}
.title:hover{
    text-decoration-color: black;
}
.block-items{
    display: inline-block;
}
#element-type{
    font-size: large;
}
.block-names{
    margin-right: 50px;
}
.block-names span{
    /* text-decoration: underline black; */
    margin: 0 10px;
    /* border: thin solid; */
    padding: 5px 10px;
    color: white;
    background-color: black;
    transition: all 600ms;
}
.block-names span:nth-child(1):hover{
    background-color: var(--s-block);
    border-radius: 5px;
    padding: 10px;
}
.block-names span:nth-child(2):hover{
    background-color: var(--p-block);
    border-radius: 5px;
    padding: 10px;
}
.block-names span:nth-child(3):hover{
    background-color: var(--d-block);
    border-radius: 5px;
    padding: 10px;
}
.block-names span:nth-child(4):hover{
    background-color: var(--f-block);
    border-radius: 5px;
    padding: 10px;
}


.periodic-table{
    display: grid;
    grid-template-columns: repeat(19, 1fr);
    grid-template-rows: 660px;
    /* gap: 5px; */
}
.element{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 60px;
    font-weight: 900;
    margin-top: 3px;
}
.element-symbol{
    font-size: 20px;
}
.element-name{
    font-size: 10px;
}


.descCard-background{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
}
.descCard{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: var(--non-metal-color);
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    min-width: fit-content;
    padding: 10px 15px 20px 15px;
    border-radius: 10px;
}
.descCard .head{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
    border-bottom: thin solid;
}
.descCard .content{
    font-size: 20px;
    font-weight: 500;
}
.content ul{
    list-style: none;
}
.close{
    align-self: flex-end;
}
.close button{
    border: none;
    background: none;
}
.descCard-background.active, .descCard{
    transition: all 500ms;
    display: block;
}

.highlight-s{
    background-color: var(--s-block);
    border-radius: 10px;
}
.highlight-p{
    background-color: var(--p-block);
    border-radius: 10px;
}
.highlight-d{
    background-color: var(--d-block);
    border-radius: 10px;
}
.highlight-f{
    background-color: var(--f-block);
    border-radius: 10px;
}