:root{
    --non-metal-color: #f4cf72;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jura', sans-serif;
}
header{
    border: solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    font-size: larger;
    height: 50px;
    width: 100%;
    padding: 0 10px;
    font-weight: 600;
}
.title{
    text-decoration: underline transparent;
    transition: text-decoration 500ms ease-in;
}
.title:hover{
    text-decoration-color: black;
}
.options-items{
    display: inline-block;
}
#element-type{
    font-size: large;
}
.block-names{
    margin-right: 50px;
}
.block-names span{
    text-decoration: underline black;
    margin: 0 10px;
}


.periodic-table{
    display: grid;
    grid-template-columns: repeat(19, 1fr);
    grid-template-rows: 660px;
    gap: 5px;
}
.element{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 60px;
    max-width: 70px;
    min-width: 50px;
    font-weight: 900;
}
.element-symbol{
    font-size: 20px;
}
.element-name{
    font-size: 10px;
}


.descCard-background{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
}
.descCard{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: var(--non-metal-color);
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    min-width: fit-content;
    padding: 10px 15px 20px 15px;
    border-radius: 10px;
}
.descCard .head{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
    border-bottom: thin solid;
}
.descCard .content{
    font-size: 20px;
    font-weight: 500;
}
.content ul{
    list-style: none;
}
.close{
    align-self: flex-end;
}
.close button{
    border: none;
    background: none;
}
.descCard-background.active, .descCard{
    transition: all 500ms;
    display: block;
}